.wrapper{
    width: 100vw;
    background-color: #3973dd;
    display: flex;
    min-width: 920px;
    height: 50px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    visibility: visible;
    z-index: 2;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo{
    flex: 3;
    color: white;
    font-weight: 700;
    min-width: 200px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.logo span{
    cursor: pointer;
}
.searchBar{
    flex: 5;
    background-color: white;
    height: 30px;
    min-width: 250px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.searchBar input{
    border: none;
    width: 50%;
}
.searchIcon{
    margin: 0 10px;
    cursor: pointer;
}
.searchBar input:focus{
    outline: none;
}
.searchBarLink{
    color: black;
    display: flex;
    align-items: center;
}
.HT{
    display: flex;
    gap: 10px;
}
.HT span{
    cursor: pointer;
}
.topBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    min-width: 320px;
    white-space: nowrap;
    gap: 20px;
    color: white;
    justify-content: space-between;
}
.homepage{
    color: white;
    cursor: pointer;
}
.icon{
    display: flex;
    gap: 10px;
}
.iconItem{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.iconItem span{
    position: absolute;
    font-size: 0.5rem;
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    top: -5px;
    right: -5px;
}
.profile{
    width: 35px;
    height: 35px;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.loginBtn{
    display: flex;
    gap: 15px;
    color: white;
}
.logout{
    cursor:pointer;
}
.loginBtnIcon{
    color: white;
}
.rightBarIcon{
    display: none;
}
.responsiveMenu{
    display: none;
}
.list, .listClose{
    display: none;
}
@media (max-width: 768px) {
    .wrapper{
        min-width: 350px;
        padding: 0;
    }
    .container{
        gap: 0;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .responsiveMenu{
        display: block;
        color: white;
        padding: 0 15px;
    }
    .list{
        display: grid;
        width: 100%;
        text-align: center;
        gap: 15px;
        padding: 30px;
        position: absolute;
        color: white;
        top: 50px;
        background-color: #3973dd;
    }
    .topBarRightClose{
        display: grid;
        position: absolute;
        top: 50px;
        color: white;
        min-width: 200px;
        width: 100%;
        background-color: #3973dd;
    }
    .homepage{
        text-align: center;
        padding: 10px 0;
    }
    .topBarRight, .listClose{
        display: none;
    }
    .searchBar{
        min-width: 100px;
        margin: 0 20px;
    }
    .icon{
        display: grid;
        gap: 15px;
        justify-content: center;
        width: 100vw;
        padding: 10px 0;
    }
    .profile{
        display: none;
    }
    .rightBarIcon{
        display: grid;
        color: white;
        margin-right: 30px;
    }
}