.wrapper{
    flex: 2.5;
    min-width: 210px;
}
.container{
    padding: 25px 15px;
    display: grid;
    gap: 10px;
}
.title{
    font-weight: 700;
    font-size: 1rem;
}
.person{
    color: grey;
    box-shadow: 0 0 1px grey;
    border-radius: 5px;
    padding: 2px 8px
}
ul{
    display: grid;
    gap: 10px;
}
@media (max-width: 768px) {
    .wrapper{
        display: none;
    }
}