.container{
    display: flex;
}
.list{
    flex: 7.5;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    align-content: start;
    padding: 30px;
}
.item{
    border-radius: 5px;
    height: 50px;
    box-shadow: 0 0 5px gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}